$indigo: #5c99c5;
$white: #080e10;
$dark: #fff;
$green: #8ec63f;
$gradient: linear-gradient(203deg, rgb(90, 255, 244) 0%, rgb(39, 158, 148) 100%);
$gradient2: linear-gradient(250deg, rgb(85, 170, 255) 24%, rgba(52, 108, 255, 1) 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
