$indigo: hsl(220, 76%, 34%);
$white: #080e10;
$dark: #fff;
$green: #8ec63f;
$gradient: linear-gradient(203deg, hsl(220, 76%, 34%) 0%, rgb(58, 100, 216) 100%);
$gradient2: linear-gradient(250deg, rgb(38, 54, 71) 24%, rgb(177, 198, 253) 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
